header {
    color: black;
    
    nav {
        ul {
            padding: 15px;
            li {
                display: inline;
            }
        }
    }
    
        /* Smartphones (portrait and landscape) ----------- */
        @media only screen and (min-device-width : $mobile-min) and (max-device-width : $mobile-max) {
        /* Styles */
        
    }
}